body{
    background-color: aquamarine;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(34, 26, 26, 0.603);
    color: white;
    text-align: center;
};
